@import "../../styles/variables";

.button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &.contained {
    background-color: transparent;
    color: black;
    border: 2px solid #3a404d;

    &:hover {
      background-color: $button-hover-color;
      color: white;
    }
  }

  &.text {
    background-color: transparent;
    border: none;
  }
}
