$primary-color: #5b8bee;

$border-color: #cfced0;

$hover-color: #f2f3f7;

$dark-gray-color: #bdbdbd;
$light-gray-color: #f2f3f7;

$success-color: #9ef146;
$warning-color: #ffda22;
$fail-color: #fedae6;

$button-hover-color: #3f4d64;

$border-radius: 4px;
