body, #root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

}
