@import "../../styles/variables";

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;

  &.success {
    background-color: $success-color;
  }
  &.warning {
    background-color: $warning-color;
  }
  &.fail {
    background-color: $fail-color;
  }
}